<h2>Por capital</h2>
<hr>
<div class="row">
    <div class="col">
        <!--
            onEnter está definido en pais-input.component
            llama al método buscar de por-capital.component
        -->
        <app-pais-input 
            (onEnter)="buscar($event)"
            placeholder="Buscar capital ...">
        </app-pais-input>
    </div>
</div>
<hr>
<div *ngIf="hayError" class="alert alert-danger">
    No se encontró nada con el término {{termino}}
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <!-- con  [paises]="paises" le envia el listado de paises al componente pais-tabla-->
       <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>
